## Statistics Assignment

All of the following are based on data from your project. Each student has to perform analysis on their own no collaboration between team members. Here are the datasets to be analyzed by team datasets:

***
### ***For Part 1 and 2***

##### Library-Computer-Usage-Analysis
* Computer Utilization Data by Date-Time

##### Volag
* Flight Delay Data by Date-Time

##### Slipper-Streets
* Crash Data by Date-Time

##### Corpus
* Reviews of Electronic product (laptop) by Date-Time

##### SteamConnect
* Early Access Score by Release Date-Time

##### Toxic-Crusaders
* Chemical Industry Release (pick a particular industry) by Date-Time

##### Uni-X
* Repayment Rate for Female gender by Date-Time

##### WRF
* Migration count by Date-Time


### Part 1

* **Conduct Decriptive Analytics (Mean, Median, Quartile) calculation by each division of Date-Time (most probably year or 6 month duration, if you have shorter use 1 month)**
* **Calculate divergence of mean and median in your data**
* **Visualize the data and draw inferences**

### Part 2
* **Conduct Probablity distibution analysis based on the data. Analyze your data based on the type of distribution it best fits (for PDF and CDF)**
* **Conduct Method of Moments analysis on your data to suggest the best fit distribution. Visualize the results**

***
***

### ***For Part 3***
* Compare with the variable with other variables in your project

### Part 3
* **Formulate a null hypothesis and evaluate it, perform correlation measures, and construct a linear regression model**

***

In [183]:
%matplotlib inline
import pandas as pd
import os
import numpy as np
import random
import matplotlib.pyplot as plt

pd.options.display.max_rows = 999

## Do some more data wrangling

In [54]:
path = os.path.join('..','Data','flights_weather_1.csv')

### Our dataset is a little bit large

Since our dataset grew to about 2GB in size after merging it with the weather data, it's a bit much to load into
the memory of my system and also process. For that reason, a random sample of the dataset should be taken.

In [55]:
#lines = sum(1 for l in open(path))

with open(path) as f:
    lines = sum(1 for l in f)
    
# sample ~30% of the dataset
sample_size = int(lines / 30)
skip = random.sample(range(1,lines), lines - sample_size)
# use skip lines
sample = pd.read_csv(path, skiprows=skip, dtype='str')

In [56]:
sample = sample.loc[:, ~sample.columns.str.contains('^Unnamed')]
sample = sample.drop(['YEAR','MONTH','DAY','OR_MAX','OR_MIN','DES_MAX','DES_MIN'],axis=1)

In [57]:
sample.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP,DES_FRSHTT
0,6,EV,2509,N902EV,DFW,GGG,1010,1005.0,-5.0,19.0,...,24.0,10.0,24.0,5.0,24.0,11.1,19.0,0.00G,999.9,0
1,6,MQ,3392,N682MQ,CLE,ORD,1010,1028.0,18.0,11.0,...,24.0,10.0,24.0,5.9,24.0,12.0,999.9,0.01G,1.2,0
2,6,US,621,N652AW,PHX,SNA,1020,1017.0,-3.0,28.0,...,24.0,8.6,24.0,4.7,24.0,9.9,999.9,0.00G,999.9,0
3,6,US,623,N195UW,PHX,SAN,1020,1014.0,-6.0,36.0,...,24.0,6.2,24.0,4.3,24.0,9.9,999.9,0.00G,999.9,0
4,6,WN,2455,N387SW,STL,TPA,1020,1023.0,3.0,9.0,...,24.0,10.0,24.0,8.8,24.0,22.0,999.9,0.27G,999.9,0

We need to replace some values in our sample. A value of 999.9~ means that there was not a recorded value for that particular day. So, for precipitation we will replace non-recordings with 0, and for the other values such as wind speed and temperature it makes more sense to replace them with the mean value of the values which aren't 999.9~

In [58]:
print(type(sample['OR_PRCP'][0]))
flags = ['A','B','C','D','E','F', 'G', 'H', 'I']
sample['OR_PRCP'] = sample['OR_PRCP'].apply(lambda x: str(x)[:-1] if str(x)[-1] in flags else str(x))
sample['DES_PRCP'] = sample['DES_PRCP'].apply(lambda x: str(x)[:-1] if str(x)[-1] in flags else str(x))

<class 'str'>

In [59]:
sample.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP,DES_FRSHTT
0,6,EV,2509,N902EV,DFW,GGG,1010,1005.0,-5.0,19.0,...,24.0,10.0,24.0,5.0,24.0,11.1,19.0,0.00,999.9,0
1,6,MQ,3392,N682MQ,CLE,ORD,1010,1028.0,18.0,11.0,...,24.0,10.0,24.0,5.9,24.0,12.0,999.9,0.01,1.2,0
2,6,US,621,N652AW,PHX,SNA,1020,1017.0,-3.0,28.0,...,24.0,8.6,24.0,4.7,24.0,9.9,999.9,0.00,999.9,0
3,6,US,623,N195UW,PHX,SAN,1020,1014.0,-6.0,36.0,...,24.0,6.2,24.0,4.3,24.0,9.9,999.9,0.00,999.9,0
4,6,WN,2455,N387SW,STL,TPA,1020,1023.0,3.0,9.0,...,24.0,10.0,24.0,8.8,24.0,22.0,999.9,0.27,999.9,0

We write the sample to a new file after creating it and cleaning it up a bit.

In [60]:
sample.to_csv(os.path.join('..','Data','fw_sample.csv'))

In [157]:
fw_samp = pd.read_csv(os.path.join('..','Data','fw_sample.csv'), low_memory=False)
fw_samp = fw_samp.drop([
    'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
    'ORIGIN_AIRPORT',
    'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
    'IATA_CODE_x', 'origin_weather_station',
    'IATA_CODE_y', 'destination_weather_station',
    'DES_FRSHTT','OR_FRSHTT', 'DESTINATION_AIRPORT'
], axis=1)
fw_samp = fw_samp.loc[:, ~fw_samp.columns.str.contains('^Unnamed')]
fw_samp.head()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,...,DES_STP,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP
0,1010,1005.0,-5.0,19.0,1024.0,47.0,50.0,26.0,140,1050.0,...,1006.0,24.0,10.0,24.0,5.0,24.0,11.1,19.0,0.00,999.9
1,1010,1028.0,18.0,11.0,1039.0,98.0,73.0,54.0,315,1033.0,...,1000.1,24.0,10.0,24.0,5.9,24.0,12.0,999.9,0.01,1.2
2,1020,1017.0,-3.0,28.0,1045.0,86.0,90.0,56.0,338,1141.0,...,1015.3,24.0,8.6,24.0,4.7,24.0,9.9,999.9,0.00,999.9
3,1020,1014.0,-6.0,36.0,1050.0,79.0,91.0,51.0,304,1141.0,...,1017.0,24.0,6.2,24.0,4.3,24.0,9.9,999.9,0.00,999.9
4,1020,1023.0,3.0,9.0,1032.0,130.0,122.0,110.0,869,1322.0,...,1018.8,24.0,10.0,24.0,8.8,24.0,22.0,999.9,0.27,999.9

In [158]:
# for the sake of simplicity, because our data set is huge and still pretty messy, just replace
# all 999.9 or 9999.9 values with 0
for col in fw_samp.columns:
    fw_samp[col] = fw_samp[col].replace(999.9,0)
    fw_samp[col] = fw_samp[col].replace(9999.9,0)
    fw_samp[col] = fw_samp[col].replace('999.9','0')
    fw_samp[col] = fw_samp[col].replace('9999.9','0')
       
fw_samp.head()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,...,DES_STP,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP
0,1010,1005.0,-5.0,19.0,1024.0,47.0,50.0,26.0,140,1050.0,...,1006.0,24.0,10.0,24.0,5.0,24.0,11.1,19.0,0.00,0.0
1,1010,1028.0,18.0,11.0,1039.0,98.0,73.0,54.0,315,1033.0,...,1000.1,24.0,10.0,24.0,5.9,24.0,12.0,0.0,0.01,1.2
2,1020,1017.0,-3.0,28.0,1045.0,86.0,90.0,56.0,338,1141.0,...,1015.3,24.0,8.6,24.0,4.7,24.0,9.9,0.0,0.00,0.0
3,1020,1014.0,-6.0,36.0,1050.0,79.0,91.0,51.0,304,1141.0,...,1017.0,24.0,6.2,24.0,4.3,24.0,9.9,0.0,0.00,0.0
4,1020,1023.0,3.0,9.0,1032.0,130.0,122.0,110.0,869,1322.0,...,1018.8,24.0,10.0,24.0,8.8,24.0,22.0,0.0,0.27,0.0

In [159]:
fw_samp.describe()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,...,DES_STP,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP
count,149166.000000,147626.000000,147626.000000,147567.000000,147567.000000,149166.000000,147157.000000,147157.000000,149166.000000,147486.000000,...,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000,133058.000000
mean,1328.999551,1333.376417,8.880597,15.968414,1355.319265,142.004981,137.042506,113.666057,827.146655,1468.297520,...,983.404150,23.920178,9.425185,23.971013,6.982064,23.971396,14.038063,13.967744,0.240906,0.037241
std,486.661356,499.195852,36.269435,8.604161,500.829650,75.425127,74.381679,72.420773,612.262528,524.859686,...,65.920196,1.089442,1.222590,0.648418,3.081953,0.563682,4.988963,12.217380,3.470015,0.413274
min,3.000000,1.000000,-39.000000,1.000000,1.000000,21.000000,17.000000,8.000000,31.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,915.000000,918.000000,-5.000000,11.000000,933.000000,86.000000,82.000000,60.000000,373.000000,1051.000000,...,982.800000,24.000000,9.500000,24.000000,4.800000,24.000000,11.100000,0.000000,0.000000,0.000000
50%,1325.000000,1329.000000,-2.000000,14.000000,1341.000000,123.000000,118.000000,94.000000,650.000000,1505.000000,...,997.600000,24.000000,10.000000,24.000000,6.600000,24.000000,13.000000,17.100000,0.000000,0.000000
75%,1731.000000,1740.000000,7.000000,19.000000,1755.000000,173.000000,168.000000,144.000000,1065.000000,1911.000000,...,1012.400000,24.000000,10.000000,24.000000,8.700000,24.000000,17.100000,22.900000,0.040000,0.000000
max,2359.000000,2400.000000,1239.000000,154.000000,2400.000000,683.000000,690.000000,651.000000,4983.000000,2400.000000,...,1042.700000,24.000000,19.200000,24.000000,31.200000,24.000000,46.000000,69.900000,99.990000,22.800000

In [160]:
fw_samp.DATE = pd.to_datetime(fw_samp.DATE)
fw_samp = fw_samp.set_index(fw_samp.DATE)
fw_samp.head()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,...,DES_STP,DES_COUNT_STP,DES_VISIB,DES_COUNT_VISIB,DES_WDSP,DES_COUNT_WDSP,DES_MXSPD,DES_GUST,DES_PRCP,DES_SNDP
DATE,,,,,,,,,,,,,,,,,,,,,
2015-03-28,1010,1005.0,-5.0,19.0,1024.0,47.0,50.0,26.0,140,1050.0,...,1006.0,24.0,10.0,24.0,5.0,24.0,11.1,19.0,0.00,0.0
2015-03-28,1010,1028.0,18.0,11.0,1039.0,98.0,73.0,54.0,315,1033.0,...,1000.1,24.0,10.0,24.0,5.9,24.0,12.0,0.0,0.01,1.2
2015-03-28,1020,1017.0,-3.0,28.0,1045.0,86.0,90.0,56.0,338,1141.0,...,1015.3,24.0,8.6,24.0,4.7,24.0,9.9,0.0,0.00,0.0
2015-03-28,1020,1014.0,-6.0,36.0,1050.0,79.0,91.0,51.0,304,1141.0,...,1017.0,24.0,6.2,24.0,4.3,24.0,9.9,0.0,0.00,0.0
2015-03-28,1020,1023.0,3.0,9.0,1032.0,130.0,122.0,110.0,869,1322.0,...,1018.8,24.0,10.0,24.0,8.8,24.0,22.0,0.0,0.27,0.0

Let's group by month and then compute some descriptive analytics about each month.

In [161]:
g = fw_samp.groupby(pd.TimeGrouper(freq='M'))
fw_samp = fw_samp.drop('DATE',axis=1)
stats = g.describe()

Since the dataset has a little over 70 variables, let's just take a look
as two of them for the time being.

In [162]:
#stats[['DEPARTURE_DELAY', 'OR_PRCP']]
stats

           SCHEDULED_DEPARTURE                                          \
                         count         mean         std    min     25%
DATE
2015-03-31              2028.0  1368.096647  473.427027  145.0  1000.0
2015-04-30             16124.0  1332.282126  486.503364    5.0   915.0
2015-05-31             16474.0  1335.484703  486.768383   11.0   920.0
2015-06-30             16689.0  1327.544970  492.125598    5.0   908.0
2015-07-31             17511.0  1330.065445  496.422244    5.0   910.0
2015-08-31             17128.0  1322.833314  488.080103    5.0   910.0
2015-09-30             15516.0  1322.654421  478.725883    3.0   915.0
2015-10-31             16108.0  1321.280792  475.121457    5.0   915.0
2015-11-30             15660.0  1332.171711  486.827366    5.0   920.0
2015-12-31             15928.0  1331.842416  488.993659    5.0   916.0

                                   DEPARTURE_TIME               ...  DES_PRCP  \
               50%     75%     max          count         mean  ...       75%
DATE                                                            ...
2015-03-31  1400.0  1745.0  2359.0         2018.0  1370.592170  ...      0.01
2015-04-30  1324.5  1738.0  2359.0        15971.0  1336.946340  ...      0.07
2015-05-31  1330.0  1735.0  2359.0        16280.0  1340.688636  ...      0.04
2015-06-30  1325.0  1735.0  2359.0        16397.0  1336.118558  ...      0.08
2015-07-31  1325.0  1740.0  2359.0        17361.0  1335.102989  ...      0.02
2015-08-31  1316.0  1730.0  2359.0        16968.0  1326.425860  ...      0.00
2015-09-30  1320.0  1725.0  2359.0        15450.0  1324.253463  ...      0.01
2015-10-31  1318.0  1721.0  2359.0        16012.0  1323.430427  ...       NaN
2015-11-30  1326.5  1732.0  2359.0        15499.0  1335.093167  ...      0.05
2015-12-31  1330.0  1735.0  2359.0        15670.0  1337.552329  ...      0.08

                  DES_SNDP
              max    count      mean       std  min  25%  50%  75%   max
DATE
2015-03-31   1.86   2028.0  0.030375  0.410824  0.0  0.0  0.0  0.0  14.2
2015-04-30  99.99  16124.0  0.013111  0.275706  0.0  0.0  0.0  0.0  13.0
2015-05-31  99.99  16474.0  0.005050  0.147539  0.0  0.0  0.0  0.0   7.1
2015-06-30  99.99  16689.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
2015-07-31  99.99  17511.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
2015-08-31  99.99  17128.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
2015-09-30  99.99  15516.0  0.000406  0.042061  0.0  0.0  0.0  0.0   5.1
2015-10-31    NaN      0.0       NaN       NaN  NaN  NaN  NaN  NaN   NaN
2015-11-30  99.99  15660.0  0.104898  0.699430  0.0  0.0  0.0  0.0  15.0
2015-12-31  99.99  15928.0  0.185208  0.888463  0.0  0.0  0.0  0.0  22.8

[10 rows x 408 columns]

Let's now compute the divergence of median/mean.

$$Median_n - Mean_n$$

In [173]:
# according to the pandas docs the 50% quartile is the same as the median
# so we will use that to compute the
df = stats.stack(0)
df['div'] = df['50%'] - df['mean']
stats = df.unstack().swaplevel(0,1,axis=1).sort_index(axis=1)

In [175]:
stats

           AIRLINE_DELAY                                                      \
                     25%  50%   75%    count       div    max      mean  min
DATE
2015-03-31           0.0  0.0  0.01   2028.0 -0.029734   1.86  0.029734  0.0
2015-04-30           0.0  0.0  0.07  16124.0 -0.181906  99.99  0.181906  0.0
2015-05-31           0.0  0.0  0.04  16474.0 -0.216742  99.99  0.216742  0.0
2015-06-30           0.0  0.0  0.08  16689.0 -0.291354  99.99  0.291354  0.0
2015-07-31           0.0  0.0  0.02  17511.0 -0.340511  99.99  0.340511  0.0
2015-08-31           0.0  0.0  0.00  17128.0 -0.244354  99.99  0.244354  0.0
2015-09-30           0.0  0.0  0.01  15516.0 -0.147806  99.99  0.147806  0.0
2015-10-31           NaN  NaN   NaN      0.0       NaN    NaN       NaN  NaN
2015-11-30           0.0  0.0  0.05  15660.0 -0.230504  99.99  0.230504  0.0
2015-12-31           0.0  0.0  0.08  15928.0 -0.287362  99.99  0.287362  0.0

                     AIR_SYSTEM_DELAY    ...     WHEELS_OFF WHEELS_ON        \
                 std              25%    ...            std       25%   50%
DATE                                     ...
2015-03-31  0.090240              0.0    ...     513.533817      24.0  24.0
2015-04-30  2.506308              0.0    ...     528.446932      24.0  24.0
2015-05-31  2.840045              0.0    ...     531.577893      24.0  24.0
2015-06-30  3.726151              0.0    ...     547.686528      24.0  24.0
2015-07-31  4.953916              0.0    ...     546.982461      24.0  24.0
2015-08-31  3.828406              0.0    ...     528.435005      24.0  24.0
2015-09-30  2.149008              0.0    ...     509.226027      24.0  24.0
2015-10-31       NaN              NaN    ...     506.546422       NaN   NaN
2015-11-30  3.113374              0.0    ...     526.850399      24.0  24.0
2015-12-31  3.812938              0.0    ...     533.123505      24.0  24.0


             75%    count       div   max       mean  min       std
DATE
2015-03-31  24.0   2028.0  0.074458  24.0  23.925542  0.0  0.759663
2015-04-30  24.0  16124.0  0.095200  24.0  23.904800  0.0  1.268732
2015-05-31  24.0  16474.0  0.055906  24.0  23.944094  0.0  0.922792
2015-06-30  24.0  16689.0  0.048116  24.0  23.951884  0.0  0.860345
2015-07-31  24.0  17511.0  0.042373  24.0  23.957627  0.0  0.736445
2015-08-31  24.0  17128.0  0.062646  24.0  23.937354  0.0  0.993815
2015-09-30  24.0  15516.0  0.054267  24.0  23.945733  0.0  0.968678
2015-10-31   NaN      0.0       NaN   NaN        NaN  NaN       NaN
2015-11-30  24.0  15660.0  0.111367  24.0  23.888633  0.0  1.268022
2015-12-31  24.0  15928.0  0.176419  24.0  23.823581  0.0  1.545409

[10 rows x 459 columns]

### Let's make some art!

Let's start by choosing some variables to work with. 70+ is obviously too unweildy to look at all at once!

We will go with DEPARTURE_TIME, DEPARTURE_DELAY, OR_WDSP, OR_PRCP. 

Let's just plot their means for now.

In [180]:
'''
from bokeh.plotting import figure, show
from bokeh.io import output_notebook
'''

'\nfrom bokeh.plotting import figure, show\nfrom bokeh.io import output_notebook\n'

In [223]:
vars = [
    ('SCHEDULED_DEPARTURE','mean'), 
    ('DEPARTURE_DELAY','mean'), 
    ('OR_WDSP','mean'), 
    ('OR_PRCP','mean')
]
months = np.arange(3,13)