# Team Generator
---
Let's generate teams based on a list of students. First we need to take a look at the data, though!

---

In [20]:
import pandas as pd # better csv reading than the csv lib
import os # path stuff, cuz I'm on windows

# read the file in with the delimiter set to tabs
students = pd.read_csv(os.path.join('..','Data','students.tsv'), sep='\t')
students # output the students dataframe

              Student              Hash_id
0    Nathaniel Arnold -6208984909235991004
1      Geoffrey Blech -2326570791530317167
2       Michael Burke -3838182749985528967
3          Travis Cox  6748876003472420179
4       Daniel Cregan  3786224687706880304
5        Aaron Denton  4913512530868538697
6        Jacob Durham  2586087839760023130
7    Basheer Eljabaly -6517500637979821548
8      Alexander Hahn -6210597270727280069
9        Ahlam Hakami  8236971849459693902
10       Rishi Khanna -5010420437561864278
11     Nickolas Lloyd  3124309669102165666
12   Kevin McLoughlin -2685934458375638973
13     Jonathan Mills -7654356918274025332
14       Joshua Moore -3924975747173341458
15     Ashley Overman   260802984044394514
16         Cory Sabol  4774928196321483336
17        Amir Sadiev -4723620785124466034
18    Patricia Tanzer -7775633915447219188
19  Melvin Watlington  8727671452098101649
20       Trevor White -3964196204618906805

### A Function to Generate Teams
---
Let's create a function called gen_team, which takes a number $n$, and creates $n$ teams of $size(dataset)$ / $n$ from the students dataset.

---

In [ ]:
def gen_teams(n, s_list):
    '''
    args:
    n    - the size of the team to generate
    s_list - [[Student, Hash_id]]
    
    desc:
    Creates a list of n randomly assigned teams from the dataframe
    '''
    return []

gen_teams(4, students.values.tolist())